/* Define colours for dark mode */
// @media (prefers-color-scheme: dark) {
//   :root {
//     --c-brand #31b27a
//     --c-brand #31b27a                     
//     --color-container-p #eee            
//     --c-text-light #d9d9d9              
//     --color-container #eee              
//     --c-text #eee                       
//     --color-table-tr #333               
//     --color-table-tr2n #393939          
//     --color-tip #252525                 
//     --color-demobg #363636              
//     --color-demo #eee                   
//     --color-main rgba(0  255  255  0.93)
//     --color-p-code #91ef6e
//   }
// }